<div class="content">
        <div class="row p-5 content-url">
            <div class="col-sm-3 col-md-3 pt-5">
                <p class="fw-bold">SOBRE NOSOTROS</p>
                <ul class="list-unstyled">
                    <li class="list-group-item"><a href="#">¿Qué es MADTICKETS?</a></li>
                    <li class="list-group-item"><a href="#">Blog</a></li>
                    <li class="list-group-item"><a href="#">Formulario de contacto</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3 pt-5">
                <p class="fw-bold">INFORMACIÓN</p>
                <ul class="list-unstyled">
                    <li class="list-group-item"><a href="#">Condiciones Generales de Uso y de la Contratación</a></li>
                    <li class="list-group-item"><a href="#">Política de Cookies</a></li>
                    <li class="list-group-item"><a href="#">Aviso Legal</a></li>
                    <li class="list-group-item"><a href="#">Protección de Datos</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3 pt-5">
            </div>
            <div class="col-sm-3 col-md-3 pt-5">
                <div class="col-sm-6 col-md-6"></div>
                <div class="col-sm-6 col-md-6">
                    <img class="center-block d-flex align-items-center justify-content-end" src="../../assets/Grupo 12.svg" />
                </div>
            </div>
        </div>
</div>