.navbar {
    background-color: #B4061E !important;
}

.nav-link {
    color: white !important;
}

.btn {
    box-shadow: none;
    outline: none;
}

button.btn:focus {
    border-width: 0;
}

.text-white {
    color: white;
}