.content {
    background-color: #18191E;
    height: 419px;
    display: flex;
   align-items: center; 
   justify-content: center;
}

.form-control {
    height: 50px;
    border: none;
    border-radius: 0%;
}

.btn-outline-secondary {
    height: 50px;
    background-color: #B4061E;
    color: white;
    border: none;
    border-radius: 0%;
}

.text-white {
    color: white;
}