<div class="row p-5">
    <div class="col-sm-4 col-md-4 pt-5">
        <p class="text-center fw-bold"><i class="fa fa-magic fa-2x txt-red"></i></p>
        <p class="text-center fw-bold">EL MEJOR OCIO DE MADRID</p>
        <p class="text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa.</p>
    </div>
    <div class="col-sm-4 col-md-4 pt-5">
        <p class="text-center fw-bold"><i class="fa fa-ticket fa-2x txt-red"></i></p>
        <p class="text-center fw-bold">LAS MEJORES OFERTAS</p>
        <p class="text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa.</p>
    </div>
    <div class="col-sm-4 col-md-4 pt-5">
        <p class="text-center fw-bold"><i class="fa fa-calendar-o fa-2x txt-red"></i></p>
        <p class="text-center fw-bold">FILTRA Y ENCUENTRA</p>
        <p class="text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa.</p>
    </div>
</div>