<div class="modal fade right" id="inputInv" tabindex="-1" aria-labelledby="InputInventory" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-end px-5">
                <div class="row">
                    <div class="col">
                        <i class="fa fa-times fa-3x" data-bs-dismiss="modal"></i>
                    </div>
                </div>
            </div>
            <div class="modal-body px-5">
                <div class="row">
                    <div class="col">
                        <h1 class="modal-title" id="InputInventory">Filtros</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col py-3">
                        <select class="form-select" class="form-control" placeholder="Busqueda" aria-label="Default select example" id="item-input" #newItem>
                            <option selected value="">Seleccione una opcion</option>
                            <option value="jewelery">Joyeria</option>
                            <option value="women's clothing">Ropa Mujer</option>
                            <option value="men's clothing">Ropa Hombre</option>
                            <option value="electronics">Electronicos</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col py-3">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" data-bs-dismiss="modal" type="button" (click)="submit(newItem.value)">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
            </div>
        </div>
    </div>
</div>