.container-image {
    background-image: url('assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.img-content {
    width: 100%;
    height: 600px;
}

.card {
    border: none;
}

.txt-white {
    color: white;
}

.bg-gray {
    background-color: #F6F3F1;
}